<h5><%= "#{header} (#{memberships.count})" %></h5>
<table>
  <thead>
    <tr>
      <th>Cohort Name</th>
      <th># Tardies</th>
      <th># Absences</th>
      <th>% HW Complete</th>
    </tr>
  </thead>
  <tbody>
    <% memberships.includes(:cohort).each do |membership| %>
    <%= render partial: "memberships/cohort_row", locals: {membership: membership, row_header: row_header} %>
    <% end %>
  </tbody>
</table>
