<% data = { tardy:       { value: membership.percent_from_status(:attendances, :tardy), type: :bad },
            absent:      { value: membership.percent_from_status(:attendances, :absent), type: :bad },
            hw_complete: { value: membership.percent_from_status(:submissions, :complete), type: :good }} %>

<% data.each do |name, datum| %>
  <td data-sort-field="<%= name %>" class="<%= color_of_percent(datum[:value], datum[:type]) %>">
    <% if datum[:value] %>
      <%= datum[:value] %>%
    <% else %>
      N/A
    <% end %>
  </td>
<% end  %>
