<% data = [ membership.percent_from_status(:attendances, Attendance.statuses[:present]),
            membership.percent_from_status(:attendances, Attendance.statuses[:tardy]),
            membership.percent_from_status(:attendances, Attendance.statuses[:absent]),
            membership.percent_from_status(:submissions, Submission.statuses[:complete]) ] %>

<% data.each do |datum| %>
  <td class="<%= color_of_percent(datum) %>">
    <% if datum %>
      <%= datum %>%
    <% else %>
      N/A
    <% end %>
  </td>
<% end  %>
