<% if memberships.any? %>
  <h5><%= "#{header} (#{memberships.count})" %></h5>
  <table class="js-dataTable memberships stripe">
    <thead>
      <tr>
        <th>Name</th> <!-- name / cohort name -->
        <th></th> <!-- image -->
        <% if current_user.is_admin_of_anything? %>
          <th>Tags</th>
          <th>% Present</th>
          <th>% Tardy</th>
          <th>% Absent</th>
          <th>% HW Complete</th>
          <th>Average Observations</th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% memberships.each do |membership| %>
        <%= render partial: "memberships/row", locals: {membership: membership, row_header: row_header} %>
      <% end %>
    </tbody>
  </table>
<% else %>
<% end  %>
