<% if memberships.any? %>
  <h5><%= "#{header} (#{memberships.count})" %></h5>
  <table>
    <tr>
      <th></th>
      <th></th>
      <% if @is_admin %>
        <th>% Present</th>
        <th>% Complete</th>
        <th>Average Obz</th>
        <th></th>
        <th></th>
      <% end %>
    </tr>
    <% memberships.each do |membership| %>
      <%= render partial: "memberships/row", locals: {membership: membership} %>
    <% end %>
  </table>
<% else %>
<% end  %>
