<% if @is_admin %>
<section>
  <h3>Observations</h3>
  <% @observations.each do |observation| %>
    <%= render partial: "observations/show", locals: {observation: observation} %>
  <% end %>
  <h4>New observation</h4>
  <%= form_tag group_membership_observations_path(@group, @user) do %>
  <%= render partial: "observations/form", locals: {group: @group, membership: @membership} %>
  <% end %>
</section>
<% end %>

<section>
  <h3>Assignments</h3>
  <table>
    <tr>
      <th>Assigned to</th>
      <th>Title</th>
      <th>Due</th>
      <th>Status</th>
    </tr>
    <% @submissions.each do |submission| %>
      <tr>
	<%= render partial: "submissions/row", locals: {submission: submission} %>
      </tr>
    <% end %>
  </table>
</section>

<section>
  <h3>Project Feedback</h3>
</section>
