<table>
  <tr>
    <th>Title</th>
    <th>Due</th>
    <th>Complete</th>
    <th>Total</th>
  </tr>
  <% assignments.each do |assignment| %>
    <% submissions = assignment.submissions %>
    <tr>
      <td><%= link_to_if @is_admin, assignment.title, assignment_path(assignment, cohort: assignment.cohort) %></td>
      <td><%= assignment.due_date_s %></td>
      <td><%= percent_of(submissions, "Complete") %>%</td>
      <td><%= submissions.count %></td>
    </tr>
  <% end %>
</table>
