<h2>Assignment Details</h2>
<%= form_tag assignment_path(@assignment), method: :patch do %>
<%= render partial: "form", locals: {assignment: @assignment} %>
<% end %>

<section>
<h3>Submissions</h3>
<p>
  <%= @submissions_percent_complete %>% complete.
</p>
<table>
  <% @submissions.each do |submission| %>
  <tr>
  <%= render partial: "submissions/row", locals: {submission: submission} %>
  </tr>
  <% end %>
</table>
</section>
