<h2>Assignment Details</h2>
<%= render partial: "form", locals: {action: @assignment} %>

<section>
<h3>Submissions</h3>
<table>
  <% @submissions.each do |submission| %>
  <tr>
  <%= render partial: "submissions/row", locals: {submission: submission} %>
  </tr>
  <% end %>
</table>
</section>
