<td>
  <%= link_to user.name || user.username, user_path(user) %>
</td>
<% if !@hide_pics %>
<td><%= avatar(user) if user.image_url && !user.image_url.strip.blank? %></td>
<% end %>
<td><%= link_to user.username, "http://github.com/#{user.username}" %></td>
<td><%= user.email || "No email" %></td>
