<h2>All Users</h2>

<% if @groups.count > 0 %>
<%= collection_select(:foo, :bar, @groups, :id, :path) %>
<% end %>

<% if @hide_pics %>
  <a class="button" href="?show_pics=true">Load all photos</a>
<% else %>
  <a class="button" href="?">Hide photos</a>
<% end %>

<table>
  <% @users.each do |user| %>
  <tr><%= render partial: "user_row", locals: {user: user} %></tr>
  <% end %>
</table>
