<%= text_field_tag :title, event.title, placeholder: "Title" %>
<div class="date"><%= select_datetime DateTime.tomorrow.beginning_of_day.advance(hours: 9), prefix: :date %></div>
<%= submit_tag "Create event" %>
