<%= form_for ((defined? cohort) ? [cohort, event] : event) do |f| %>
  <%= f.text_field :title, placeholder: "Title" %>
  <div class="date"><%= f.datetime_select :occurred_at %></div>
  <%= f.submit "Save event" %>
<% end %>
