<h2><%= @event.date.strftime("%A, %B %e, %Y") %></h2>
<%= link_to "Delete Event", event_path(@event), method: :delete, class: "button", data: {confirm: "You sure?"} %>
<%= render partial: "attendances/index" %>
