<table>
  <% submissions.each do |submission| %>
    <tr>
      <% if @is_adminned_by_current_user %>
        <td><%= link_to submission.assignment.title, assignment_path(submission.assignment, anchor: submission.id) %></td>
      <% else %>
        <td><%= link_to_if !submission.assignment.repo_url.blank?, submission.assignment.title, submission.assignment.repo_url %></td>
      <% end %>
      <td><%= submission.status_english %></td>
    </tr>
  <% end %>
</table>
