<thead>
  <tr>
    <th data-records-total></td>
    <th colspan="2" data-sort-trigger="name">Member</th>
    <th data-sort-trigger="title">Title</th>
    <td></td>
    <td>Score</td>
    <td>Status</td>
    <td></td>
  </tr>
</thead>
