/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */

*{
   margin:0;
   padding:0;
   border:0;
   border-collapse:collapse;
   border-spacing:0;
   font-size:inherit;
   font-style:inherit;
   font-family: "Helvetica Neue", Helvetica, sans-serif;
   font-weight:inherit;
   text-decoration:none;
   color:inherit;
   background-color:transparent;
   list-style-type:none;
 }
 *:focus{
   outline:0
 }
 body,html{
   width:100%;
   height:100%;
   min-height:100vh;
   position:relative;
 }
 div{
   position:relative;
 }
 a[href], button, label, input[type=submit], label{
   cursor:pointer;
 }
 *[title]{
   cursor:help;
 }

 html{
   background: #fff;
 }
 body{
   color:#444;
   margin:0 auto;
   padding:0 10px;
   max-width:900px;
 }
 header, main, footer{
   margin-left:auto;
   margin-right:auto;
 }
 html,body,header,main,footer{
   box-sizing:border-box;
 }

 h2,h3,h4,h5,h6,
 p,.intro,
 textarea,
 select,
 label,
 .date,
 button,
 input,.button{
   padding:10px;
   margin-bottom:10px;
   box-sizing:border-box;
   border-radius:5px;
 }
 h1,h2,h3,h4,h5,h6{
   font-weight:bold;
 }
 h1{
   font-size:18px;
   letter-spacing:5px;
   text-transform:uppercase;
 }
 h2{
   font-size:24px;
   line-height:28px;
 }
 h2.breadcrumbs{
   padding-left:0;
   padding-right:0;
 }
 h3{
   font-size:24px;
   line-height:36px;
   border-top:1px dashed #ddd;
 }
 h4{
   text-decoration:underline;
 }
 small{
   font-size:12px;
   line-height:18px;
 }
 em{
   font-style:italic;
 }
 strong{
   font-weight:bold;
 }

 header{
   display:block;
   width:100%;
   border-bottom:1px dotted #eee;
   font-size:0;
 }
 h1{
   padding-left:10px;
   box-sizing:border-box;
 }
 h1 span{
   color:red;
 }
 h1, nav{
   display:inline-block;
 }
 nav{
   text-align:right;
   float:right;
 }
 nav a{
   display:inline-block;
   padding:0 1em;
   font-size:1rem;
   border-left: 1px dotted #eee;
 }
 nav a:hover{
   background-color:#eee;
 }
 nav a, h1{
   line-height:48px;
   vertical-align:middle;
 }
 .errareHumanumEst{
   border:1px dashed #8be;
   border-radius:5px;
   padding:1em;
   text-align:center;
 }

 main{
   margin-bottom:50px;
 }
 footer{
   display:block;
   width:100%;
   height:50px;
   border-top:1px dotted #eee;
   text-align:center;
   color:#ccc;
 }
 footer>*{
   display:inline-block;
   line-height:50px;
   padding:0 20px;
 }

 .avatar{
   position:relative;
   display:inline-block;
   width:50px;
   height:50px;
   border:0;
 }
 .avatar img{
   display:block;
   width:100%;
   height:100%;
   position:absolute;
   left:0;
   bottom:0;
   transition:width .2s, height .2s;
   background-color:transparent;
 }
 .avatar img:hover{
   z-index:1000;
   width:200px;
   height:200px;
 }
 .intro .avatar img:hover {
   z-index: auto;
   width: 100%;
   height: 100%;
 }

 input,
 textarea,
 select,
 label,
 button, .button,
 .date{
   background-color:#eee;
   line-height:24px;
   height:48px;
 }
 input[type=text],
 input[type=password],
 textarea,
 select,
 label,
 .date{
   display:block;
   width:100%;
 }
 input[type=submit],
 button, .button{
   display:inline-block;
   width:auto;
   vertical-align:middle;
 }
 textarea{
   resize: vertical;
 }
 textarea:disabled,
 input:disabled{
   background-color:#fff;
   border-left:1px dotted #ddd;
 }
 input[type=submit],
 button,
 .button{
   text-transform:uppercase;
   letter-spacing:2px;
   background-color:#69c;
   color:#fff;
   font-weight:bold;
   text-align:center;
   cursor:pointer;
   font-size:10px;
   border-bottom:0;
   line-height:28px;
   min-width:200px;
   transition: background-color 0.1s, border-color 0.1s, color 0.1s;
 }
 .danger,
 .button[data-method=delete]{
   background-color:#a00;
 }
 .danger:hover,
 .button[data-method=delete]:hover{
   background-color:#f00;
 }
 input[type=submit].secondary,
 button.secondary,
 .button.secondary{
   border:1px solid #cdf;
   background-color:#fff;
   color:#69c;
 }
 input[type=submit]:hover,
 button:hover,
 .button:hover{
   border-color:transparent;
   background-color:#7ad;
   color:#fff !important;
 }
 input[type=radio],
 input[type=checkbox]{
   display:block;
   overflow:hidden;
   position:absolute;
   padding:0;
   margin:0;
   width:1px;
   height:1px;
   opacity:0.01;
 }
 input[type=radio]+label,
 input[type=checkbox]+label{
   display:block;
 }
 input[type=radio]+label:after,
 input[type=checkbox]+label:after{
   content:"?";
 }
 input[type=radio]:checked+label,
 input[type=checkbox]:checked+label{
   background-color:#ddd;
 }
 input[type=radio]:checked+label:after,
 input[type=checkbox]:checked+label:after{
   content:"!";
 }
 select{
   height:36px;
   line-height:36px;
 }
 label input{
   display:inline-block;
   width:100px;
   margin:0;
   padding:0;
   height:initial;
 }

 .date{
   text-align:center;
 }
 .date select{
   display:inline-block;
   width:auto;
   padding:0;
   margin:0;
   height:auto;
   line-height:auto;
 }

 main{
   margin-top:10px;
 }
 main a{
   color:#369;
   border-bottom:1px dashed #9cf;
 }
 main a[href]:hover{
   color:black;
 }
 section{
   margin-top:10px;
   margin-bottom:50px;
 }
 .intro{
   background-color:#eee;
 }
 .intro h2{
   padding-left:0;
 }
 .intro>*{
   display:inline-block;
   vertical-align:middle;
 }
 .observation{
   border-radius:5px;
 }
 .observation .markdown{
   border:0;
   margin:0;
 }

 .pills{
   padding-left:0;
   margin-left:0;
   padding-bottom:0;
   margin-bottom:0;
 }
 .pills li{
   list-style-type: none;
 }
 .pills a{
   display:inline-block;
   border-radius:5px;
   padding:5px 10px;
   margin:5px;
   vertical-align:baseline;
   background-color:#eee;
   border:0;
 }
 .pills a[href]:hover{
   background-color:#ccc;
 }
 .pills a:nth-child(1){
   margin-left:0;
 }
 .pills+p{
   padding-top:0;
   margin-top:0;
 }

 a.breadcrumb{
   background-color:#ee9;
   color:#f00;
 }
 a.breadcrumb:hover{
   background-color:#dd9;
   color:#f00;
 }

 .tree{
   padding-left:10px;
 }
 .tree a{
   display:block;
   line-height:24px;
 }
 .tree ul{
   padding-left:30px;
 }


 table{
   width:100%;
   margin-bottom:10px;
   text-align:left;
 }
 th, td{
   padding:10px;
 }
 td:empty:after{
   content:"...";
   color:#ccc;
   display:block;
   height:18px;
 }
 table input[type=text],
 table label,
 table textarea{
   padding-top:0;
   padding-bottom:0;
   margin:0;
   height:24px;
   resize:none;
 }
 table label{
   background-color:transparent;
   text-align:center;
 }
 tr:nth-child(odd){
   background-color:#eee;
 }
 tr:nth-child(odd) input,
 tr:nth-child(odd) textarea{
   background-color:#fff;
 }
 tr>.number{
   text-align:right;
 }
 td.form{
   padding-left:0;
   padding-right:0;
   border:0;
 }
 td.form textarea{
   height:72px;
 }
 td.form input{
   height:48px;
 }
 td.form textarea,
 td.form input{
   margin-bottom:10px;
 }
 td.form textarea{
   resize:vertical;
 }

.s0{
  background-color: #fee;
}
.s1{
  background-color: #fed;
}
.s2{
  background-color: #ffe;
}
.s3{
  background-color: #dfd;
}

.yes{
  opacity:1;
}
.yes:after{
  content:"!";
}
.no{
  opacity:0.5;
}
.no:after{
  content:"?";
}

textarea.waiting,
:not(textarea).waiting:after,
.waiting+label:after{
  display:inline-block;
  content:"..." !important;
  animation: waiting 0.5s linear alternate infinite;
}
@keyframes waiting{
  from {
    opacity:0;
  }
  to {
    opacity:1;
  }
}

.fold:after{
  display:inline-block;
  transition:transform 0.2s;
  transform:rotateZ(0deg);
  content:"\025B8";
}
.fold+div{
  max-height:0px;
  opacity:0;
  overflow:hidden;
  transition:max-height 0.5s, opacity 0.5s;
}
.fold:target:after{
  transform:rotateZ(90deg);
}
.fold:target+div{
  opacity:1;
  overflow: auto;
  max-height:50000px;
}

.markdown{
  padding:10px 0;
  border-bottom:1px dashed #aaa;
  margin-bottom:30px;
}
.markdown p,
.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6{
  padding-top:0;
  padding-bottom:0;
  border:0;
}
.markdown hr{
  margin:0 10px;
  border-bottom:1px dashed #ccc;
}
.markdown li{
  list-style-type: disc;
  list-style-position: inside;
  padding-left:10px;
  line-height:1.6em;
}

.fade{
  color:#f00;
}


@media (max-width:600px){
  body{
    padding:0;
  }
  h1, h2, nav{
    display:block;
    text-align:center;
    width:100%;
  }
  nav a{
    border:0;
  }
  th, td{
    padding:5px;
  }
  .status{
    font-size: 0;
  }
  .status:first-letter{
    font-size: 1rem;
  }
  .waiting+label{
    animation: waiting 0.5s linear alternate infinite;
  }
}

.today{
  background-color:#adf;
}
