@font-face{
  font-family:"Circular";
  src:font-url("Circular.ttf") format("truetype");
  font-weight:normal;
  font-style:normal;
}
@font-face{
  font-family:"PFDinTextCompProBold";
  src:font-url("PFDinTextCompProBold.ttf") format("truetype");
  font-weight:normal;
  font-style:normal;
}
@font-face{
  font-family:"News706";
  src:font-url("News706.ttf") format("truetype");
  font-weight:normal;
  font-style:normal;
}
@font-face{
  font-family:"News706";
  src:font-url("News706_Bold.ttf") format("truetype");
  font-weight:bold;
  font-style:normal;
}
@font-face{
  font-family:"News706";
  src:font-url("News706_Italic.ttf") format("truetype");
  font-weight:normal;
  font-style:italic;
}
