// Inspired by https://css-tricks.com/examples/hrs/
// Avoid hr tag?  Maybe... http://html5doctor.com/small-hr-element/#element-hr

@mixin labeled-hr($caption) {
  &:after {
    content: $caption;
    display: inline-block;
    position: relative;
    top: -0.7em;
    // font-size: 1.5em;
    padding: 0 0.25em;
    background: white;
  }
}

hr.double-bar {
  padding: 0;
  border: none;
  border-top: medium double #333;
  color: #333;
  text-align: center;
}

hr.gradiant-fade {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  margin: 20px;
}

hr.or {
  @include labeled-hr("or")
}
