input,
textarea,
select,
label,
button, .button,
.date{
  background-color:#eee;
  line-height:24px;
  height:48px;
}
input[type=text],
input[type=password],
textarea,
select,
label,
.date{
  display:block;
  width:100%;
}
input[type=submit],
button, .button{
  display:inline-block;
  width:auto;
  vertical-align:middle;
}
textarea{
  resize: vertical;
}
textarea:disabled,
input:disabled{
  background-color:#fff;
  border-left:1px dotted #ddd;
}
input[type=submit],
button,
.button{
  text-transform:uppercase;
  letter-spacing:2px;
  background-color:#69c;
  color:#fff;
  font-weight:bold;
  text-align:center;
  cursor:pointer;
  font-size:10px;
  border-bottom:0;
  line-height:28px;
  min-width:200px;
  transition: background-color 0.1s, border-color 0.1s, color 0.1s;
}
.danger,
.button[data-method=delete]{
  background-color:#a00;
}
.danger:hover,
.button[data-method=delete]:hover{
  background-color:#f00;
}
input[type=submit].secondary,
button.secondary,
.button.secondary{
  border:1px solid #cdf;
  background-color:#fff;
  color:#69c;
}
input[type=submit]:hover,
button:hover,
.button:hover{
  border-color:transparent;
  background-color:#7ad;
  color:#fff !important;
}
input[type=radio],
input[type=checkbox]{
  display:block;
  overflow:hidden;
  position:absolute;
  padding:0;
  margin:0;
  width:1px;
  height:1px;
  opacity:0.01;
}
input[type=radio]+label,
input[type=checkbox]+label{
  display:block;
}
input[type=radio]+label:after,
input[type=checkbox]+label:after{
  content:"?";
}
input[type=radio]:checked+label,
input[type=checkbox]:checked+label{
  background-color:#ddd;
}
input[type=radio]:checked+label:after,
input[type=checkbox]:checked+label:after{
  content:"!";
}
select{
  height:36px;
  line-height:36px;
}
label input{
  display:inline-block;
  width:100px;
  margin:0;
  padding:0;
  height:initial;
}

.date{
  text-align:center;
}
.date select{
  display:inline-block;
  width:auto;
  padding:0;
  margin:0;
  height:auto;
  line-height:auto;
}

textarea.waiting,
:not(textarea).waiting:after,
.waiting+label:after{
  display:inline-block;
  content:"..." !important;
  animation: waiting 0.5s linear alternate infinite;
}
