body{
  display:flex;
  flex-direction:column;
  align-content:stretch;
  justify-content:space-between;
  min-height:100vh;
}
main{
  flex-grow:2;
}
header, main, footer{
  width:100%;
}

.fold{
  &:after{
    display:inline-block;
    transition:transform 0.2s;
    transform:rotateZ(0deg);
    content:"\025B8";
  }
  &~div{
    max-height:0px;
    opacity:0;
    overflow:hidden;
    transition:max-height 0.5s, opacity 0.5s;
  }
  &:target:after{
    transform:rotateZ(90deg);
  }
  &:target~div{
    opacity:1;
    overflow: auto;
    max-height:50000px;
  }
}
