table{
  width:100%;
  margin-bottom:10px;
  text-align:left;
  border-bottom:1px solid #ccc;
  clear:both;

  tr{
    &>.number{
      text-align:right;
    }
    &:nth-child(odd){
      background-color:#fff;
    }
  }
  th, td{
    padding:5px;

    #submissions &{
     max-width: 8em;
     text-overflow: ellipsis;
     overflow: hidden;
    }
    &:empty:after{
      content:"...";
      color:#ccc;
      display:block;
      height:18px;
    }
  }
}

.dataTables_wrapper{
  .dataTables_filter{
    float:right;
    padding:5px 0;

    input[type=search]{
      padding:5px;
      margin-left:1em;
      border-radius:3px;
    }
  }
  .sorting{
    cursor:pointer;
  }
  .sorting_asc{
    cursor:n-resize;
    &:after{ content: "(A-Z)"; }
  }
  .sorting_desc{
    cursor:s-resize;
    &:after{ content: "(Z-A)"; }
  }
  .sorting_asc,
  .sorting_desc{
    font-weight:bold;
    &:after{
      display:inline-block;
      color:rgba(0,0,0,0.3);
      font-weight:normal;
    }
  }
}
