$font-body: "News706", Georgia, serif;
$font-logo: "PFDinTextCompProBold", Impact, sans-serif;
$font-sans: "Circular", Helvetica, sans-serif;
$ga-red: #fa4542;
$ga-red-med: #f6201d;
$ga-red-dark: #be0201;
$ga-button-shadow: 0 3px 0 0 $ga-red-dark;

html{
  font-family: $font-body;
  font-size:14px;
  background: #f6f6f6;
}
body{
  color:#444;
}


h1{
  color: $ga-red;
  span{ color:#fff; }
}
h1, h2{
  text-transform:uppercase;
  font-size:36px;
  font-family:$font-logo;
}
h3{
  font-size:24px;
  line-height:48px;
  margin-top:40px;
  font-weight:bold;
}
h4{
  font-weight:bold;
  line-height:36px;
  margin-top:20px;
}
p{
  padding:10px 0;
  box-sizing:border-box;
}
small{
 font-size:12px;
 line-height:18px;
}
em{
 font-style:italic;
}
strong{
 font-weight:bold;
}
kbd{
 font-family:monospace;
 background-color:rgba(100,100,100,0.3);
 border-radius:3px;
 padding:0 3px;
}


header{
  display:flex;
  background-color:#222;
  h1 a{
    float:left;
    padding-left:10px;
  }
  nav a{
    float:right;
  }
  h1 a,
  nav a{
    line-height:36px;
    padding-top:10px;
    padding-bottom:10px;
  }
  nav{
    flex-grow:2;
    a{
      color:#fff;
      padding-left:25px;
      padding-right:25px;
      &:hover{
        background-color:#fff;
        color:$ga-red;
      }
    }
  }
}
main{
  padding:0 10px;
  box-sizing:border-box;
}
footer{
  background-color:#222;
  text-align:center;
  color:#ccc;
  padding:10px 0;
}


main{
  margin-top:10px;
  a{
    color:#369;
  }
  a[href]:not(.button):hover{
    color:black;
  }
}
section{
  margin:10px auto;
}


.markdown{
  padding:10px 0;
  border-bottom:1px dashed #aaa;
  margin-bottom:30px;

  p,
  h1,h2,h3,h4,h5,h6{
    padding-top:0;
    padding-bottom:0;
    border:0;
  }
  hr{
    margin:0 10px;
    border-bottom:1px dashed #ccc;
  }
  li{
    list-style-type: disc;
    list-style-position: inside;
    padding-left:10px;
    line-height:1.6em;
  }
}

.observation{
  border-radius:5px;

  .markdown &{
    border:0;
    margin:0;
  }
}

.status_very_bad{
  background-color: #fee;
}
.status_bad{
  background-color: #fed;
}
.status_mediocre{
  background-color: #ffe;
}
.status_good{
  background-color: #dfd;
}

.yes{
  opacity:1;
  &:after{ content:"!"; }
}
.no{
  opacity:0.5;
  &:after{ content:"?"; }
}

.today{
  background-color:#adf;
}

.button{
  display:inline-block;
  font-family:$font-sans;
  border-radius:3px;
  padding:10px 20px;
  margin:10px 10px 10px 0;
  transition: background-color 0.2s;
  background-color:$ga-red;
  box-shadow: $ga-button-shadow;
  color:#fff;
  &:hover{
    background-color: $ga-red-med;
  }
}
.button.secondary{
  background-color:#fff;
  box-shadow: 0 3px 0 0 #a2a2a2;
  color:#444;
  &:hover{
    background-color: #eee;
  }
}
button,
input[type=submit]{
  @extend .button;
}
input[type=radio],
input[type=checkbox]{
  &+label{
    display:inline-block;
    text-decoration:none;
    @extend .button;
    @extend .button.secondary;
  }
}
.pills a{
  @extend .button;
  @extend .button.secondary;
}
h2.pills a{
  font-family:$font-logo;
}

label{
  display:block;
  padding:10px 0;
  text-decoration:underline;
}
input[type=submit]{
  display:block;
}
input[type=radio],
input[type=checkbox]{
  display:block;
  overflow:hidden;
  position:absolute;
  padding:0;
  margin:0;
  width:1px;
  height:1px;
  opacity:0.01;
  &+label:after{
    content:"?";
  }
  &:checked+label{
    background-color:$ga-red;
    box-shadow:$ga-button-shadow;
    color:#fff;
    &:after{ content:"!"; }
  }
}

textarea,
input[type=text],
input[type=password],
input[type=search],
select,
.date{
  display:block;
  width:100%;
  max-width:640px;
  margin:10px 0;
  border-top:1px solid #ddd;
  border-radius:5px;
  background-color:#fff;
  font-family:$font-body;
  box-sizing:border-box;
  &:disabled{
    color:#999;
  }
}
input[type=text],
input[type=password]{
  padding:10px;
  table &{
    padding:5px 10px;
  }
}
textarea{
  padding:10px;
}
select{
  height:38px;
}
.date select{
  border:0;
}
.date select,
input[type=search]{
  display:inline-block;
  width:auto;
  margin:0;
}

textarea.waiting,
:not(textarea).waiting:after,
.waiting+label:after{
  display:inline-block;
  content:"..." !important;
  animation: waiting 0.5s linear alternate infinite;
}


@keyframes waiting{
  from {
    opacity:0;
  }
  to {
    opacity:1;
  }
}
