$font-body: "News706", Georgia, serif;
$font-logo: "PFDinTextCompProBold", Impact, sans-serif;
$font-sans: "Circular", Helvetica, sans-serif;
$ga-red: #fa4542;
$ga-red-med: #f6201d;
$ga-red-dark: #be0201;
$ga-yellow: #fbd334;
$ga-yellow-light: #fdeba3;
$ga-yellow-dark: #f49102;
$button-shadow-size: 0 3px 0 0;

html{
  font-family: $font-body;
  font-size:14px;
  background: #f6f6f6;
}
body{
  color:#444;
}


h1{
  color: $ga-red;
  span{ color:#fff; }
}
h1, h2{
  text-transform:uppercase;
  font-size:36px;
  font-family:$font-logo;
}
h3{
  font-size:24px;
  line-height:48px;
  margin-top:40px;
  font-weight:bold;
}
h4,h5,h6{
  font-weight:bold;
  line-height:36px;
  margin-top:20px;
}
p{
  padding:10px 0;
  box-sizing:border-box;
}
small{
 font-size:12px;
 line-height:18px;
}
em{
 font-style:italic;
}
strong{
 font-weight:bold;
}
kbd{
 font-family:monospace;
 background-color:rgba(100,100,100,0.3);
 border-radius:3px;
 padding:0 3px;
}


header{
  display:flex;
  background-color:#222;
  h1 a{
    float:left;
    padding-left:10px;
  }
  nav a{
    float:right;
  }
  h1 a,
  nav a{
    line-height:36px;
    padding-top:10px;
    padding-bottom:10px;
  }
  nav{
    flex-grow:2;
    a{
      color:#fff;
      padding-left:25px;
      padding-right:25px;
      &:hover{
        background-color:#fff;
        color:$ga-red;
      }
    }
  }
}
main{
  padding:0 10px;
  box-sizing:border-box;
}
footer{
  background-color:#222;
  text-align:center;
  color:#ccc;
  padding:10px 0;
  margin-top:50px;
}


main{
  margin-top:10px;
  a{
    color:#369;
  }
  a:hover{
    color:black;
  }
}
section{
  margin:10px auto;
}


.markdown{
  p,
  h1,h2,h3,h4,h5,h6{
    padding-top:10px;
    padding-bottom:10px;
    border:0;
  }
  hr{
    margin:0 10px;
    border-bottom:1px dashed #ccc;
  }
  li{
    list-style-type: disc;
    list-style-position: inside;
    padding-left:10px;
    line-height:1.6em;
  }
}

.observation{
  padding:20px 10px;
  border-top:1px solid #666;

  & .markdown{
    border:0;
    margin:0;
    border-bottom:1px dotted #ddd;
  }
}

.status_very_bad{
  background-color: #fee;
}
.status_bad{
  background-color: #fed;
}
.status_mediocre{
  background-color: #ffe;
}
.status_good{
  background-color: #dfd;
}

.yes{
  opacity:1;
  &:after{ content:"!"; }
}
.no{
  opacity:0.5;
  &:after{ content:"?"; }
}

.today{
  background-color:#adf;
}

.button-size{
  display:inline-block;
  font-family:$font-sans;
  border-radius:3px;
  padding:10px 20px;
  margin:10px 10px 10px 0;
  transition: background-color 0.2s, box-shadow 0.2s;
}
.button-color-important{
  color:#444;
  background-color:$ga-yellow-light;
  box-shadow: $button-shadow-size $ga-yellow;
}
.button-color-important-active{
  color:#444;
  background-color: $ga-yellow;
  box-shadow: $button-shadow-size $ga-yellow-dark;
}
.button-color-normal{
  color:#444;
  background-color:rgba(0,0,0,0.05);
  box-shadow: $button-shadow-size #a2a2a2;
}
.button-color-normal-active{
  color:#444;
  background-color:rgba(0,0,0,0.1);
  box-shadow: $button-shadow-size #a2a2a2;
}
.button-color-danger{
  color:#fff;
  background-color:$ga-red;
  box-shadow: $button-shadow-size $ga-red-dark;
}
.button-color-danger-active{
  color:#fff;
  background-color: $ga-red-med;
  box-shadow: $button-shadow-size $ga-red-dark;
}

button, .button{
  @extend .button-size;
  @extend .button-color-normal;
  &:hover{ @extend .button-color-normal-active; }
}
input[type=radio],
input[type=checkbox]{
  &+label{
    display:inline-block;
    text-decoration:none;
    @extend .button-size;
    @extend .button-color-normal;
  }
  &+label:after{
    content:"?";
  }
  &:checked+label{
    @extend .button-color-important;
    &:after{ content:"!"; }
  }
  &:checked+label:hover{
    @extend .button-color-important-active;
  }
}
.pills a{
  @extend .button-size;
  @extend .button-color-important-active;
}
h2.pills a{
  font-family:$font-logo;
}

label{
  display:block;
  padding:10px 0;
  text-decoration:underline;
}
input[type=submit]{
  display:block;
  @extend .button-size;
  @extend .button-color-important;
  &:hover{ @extend .button-color-important-active; }
}
a.button[data-method=delete]{
  @extend .button-color-danger;
  &:hover{ @extend .button-color-danger-active; }
}
input[type=radio],
input[type=checkbox]{
  display:block;
  overflow:hidden;
  position:absolute;
  padding:0;
  margin:0;
  width:1px;
  height:1px;
  opacity:0.01;
}

textarea,
input[type=text],
input[type=password],
input[type=search],
select,
.date{
  display:block;
  width:100%;
  max-width:640px;
  margin:10px 0;
  border-top:1px solid #ddd;
  border-radius:5px;
  background-color:#fff;
  font-family:$font-body;
  box-sizing:border-box;
  &:disabled{
    background-color:#f9f9f9;
    color:#999;
  }
}
input[type=text],
input[type=password]{
  padding:10px;
  table &{
    padding:5px 10px;
  }
}
textarea{
  padding:10px;
}
select{
  height:38px;
}
.date select{
  border:0;
}
.date select,
input[type=search]{
  display:inline-block;
  width:auto;
  margin:0;
  padding:5px;
  margin-left:1em;
  border-radius:3px;
}

textarea.waiting,
:not(textarea).waiting:after,
.waiting+label:after{
  display:inline-block;
  content:"..." !important;
  animation: waiting 0.5s linear alternate infinite;
}

.js-tag{
  cursor:pointer;
  color:#999;
  &:hover{ color:$ga-yellow; }
}
.js-remove-tagging{
  color:#999;
  &:hover{ color:$ga-red; }
}

table{
  width:100%;
  margin-bottom:10px;
  text-align:left;
  border-bottom:1px solid #ccc;
  clear:both;

  th{
    background-color:#eee;
  }
  tr{
    &:nth-child(odd){
      background-color:#fff;
      input[type=text],
      textarea{
        background-color:#f6f6f6;
      }
    }
    &>.number{
      text-align:right;
    }
  }
  th, td{
    padding:5px;
    #submissions &{
     max-width: 8em;
     text-overflow: ellipsis;
     overflow: hidden;
    }
    &.form{
      padding-left:0;
    }
    &:empty:after{
      content:"...";
      color:#ccc;
      display:block;
      height:18px;
    }
  }
}

.dataTables_wrapper{
  .dataTables_filter{
    float:right;
    padding:5px 0;
  }
  .sorting{
    cursor:pointer;
  }
  .sorting_asc{
    cursor:n-resize;
    &:after{ content: "a-z"; }
  }
  .sorting_desc{
    cursor:s-resize;
    &:after{ content: "z-a"; }
  }
  .sorting_asc,
  .sorting_desc{
    background-color:#ddd;
    &:after{
      display:inline-block;
      font-weight:normal;
      color:#999;
      padding-left:5px;
    }
  }
}


@keyframes waiting{
  from {
    opacity:0;
  }
  to {
    opacity:1;
  }
}
