<table>
  <tr>
    <th>Title</th>
    <th>Group</th>
    <th>Event Date</th>
    <th>Date Taken</th>
    <th>Status</th>
  </tr>
  <% attendances.each do |attendance| %>
  <%= render partial: "attendances/show_row", locals: {attendance: attendance, event: attendance.event} %>
  <% end %>
</table>
