<section>
  <h3><%= link_to "Events", group_events_path(@group) %></h3>
  <table class="student_data">
    <%= render partial: "memberships/data_table", locals: {group: @group, users: @subnonadmins, datum: :attendances} %>
  </table>
</section>
